<div class="py-4">
  <% if !@user.nil? %>
    <p class="text-center">ようこそ <a href="/<%= @user['user_name'] %>"><%= @user['user_name'] %></a> さん</p>
    <p class="text-center"><a class="text-center btn btn-primary" href="/logout">ログアウト</a></p>
  <% else %>
    <p class="text-center"><a class="btn btn-primary" href="/login">ログイン</a> or
      <a class="btn btn-primary" href="/register">新規登録</a></p>
  <% end %>
</div>

<h1 class="text-center py-4">card blog</h1>

<% if !@user.nil? %>
  <!-- Button trigger modal -->
  <p class="text-center py-4">
    <button type="button" class="btn btn-primary new-post" data-toggle="modal" data-target="#post-modal">新規投稿</button>
  </p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="new-cards">
        <h1 class="text-center py-5">新着記事</h1>
        <div id="card" class="body">
          <% @new_posts_data.each do |post| %>
            <article id="<%= post['id'] %>" class="image-post">
              <div class="card-style is-surface">
                <div class="card_surface">
                  <div class="container">
                    <img class="th" src="/img/<%= post['main_image_url'] %>" alt="<%= post['title'] %>"/>
                  </div>
                </div>
                <div class="card_reverse">
                  <div class="container">
                    <section class="post-body">
                      <% if post['user_id'] == session[:user_id] %>
                        <!-- Button trigger modal -->
                        <div class="text-center py-4">
                          <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#post-modal">編集</button>
                        </div>
                      <% end %>
                      <h1 class="post-title"><%= post['title'] %></h1>
                      <p>Posts by <a href="/user/<%= post['user_name'] %>"><%= post['user_name'] %></a></p>
                      <p class="th">
                        <img class="th-image" src="/img/<%= post['main_image_url'] %>" alt="<%= post['title'] %>"/></p>
                      <div class="content-body">
                        <p><%= post['body'] %></p>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row flex-grow-0 justify-content-center">
                <button class="turncard turn-btn"><i class="fas fa-arrows-alt-h"></i>めくる</button>
                <% if post['user_id'] == session['user_id'] %>
                  <form action="/delete" method="post" enctype="multipart/form-data">
                    <input value="<%= post['id'] %>" name="post_id" class="d-none">
                    <button type="submit" class="turn-btn"><i class="fas fa-trash-alt"></i></i>削除</button>
                  </form>
                <% end %>
              </div>
            </article>
          <% end %>
        </div>
      </section>
    </div>
    <% if @new_posts_data.size < 10 %>
    <% else %>
      <div class="col-12">
        <p class="text-center">
          <a class="btn btn-primary" href="/page/<%= @page + 1 %>">もっとみる</a>
        </p>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal New Post -->
<div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data" class="">
        <div class="modal-header">
          <h5 class="modal-title" id="new-post-abel"><span class="new-post">新規</span>投稿<span class="edit-post">編集</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>タイトル</label>
          <input type="text" class="form-control" name="title">
          <br>
          <label>内容</label>
          <textarea class="form-control" name="body"></textarea>
          <br>
          <label>メイン画像</label>
          <input type="file" class="form-control" name="file">
          <div class="preview"/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">投稿</button>
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">キャンセル</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

